/*==============================
    :: CONTAINERS STYLING ::
==============================*/

body {
}

* {
    box-sizing: border-box;
}

.burger--active {
	overflow-y: hidden;
}

@media screen and (max-width: 600px) {
	#wpadminbar {
		position: fixed;
	}
}
