.info {

    .row {
        display: flex;
        justify-content: center;

        .info__container {

            .info__container__header {
                text-align: center;
                margin-bottom: 20px;
            }

            .info__container__paragraph {
                p {
                    text-align: center; 
                    margin-bottom: 10px;
                }
            }

            .info__container__icon {

                height: 70px;
                margin-bottom: 20px;
                text-align: center; 

                .image-text__container__left__img {
                    height: 70px;
                }
            }
        }
    }
   
}