.titel {

    
    .titel__container {
        display: flex;
        justify-content: center;

        .titel__container__header {
            position: relative;
            text-align: center;
           
        }
    }
}