.image-text {
    min-height: 400px;
    width: 100%;
    position: relative;

    .image-text__container__left {
        min-height: 400px;
        width: 100%;
        
            display: flex;
            position: relative;
            margin-bottom: 10px;
            @include respond-to-min($md) {
                margin-bottom: 0px;
            }
        
            .image-text__container__img1 {
                position: relative;
                width: 65%;
                height: 100%;
                padding-top: 20px;
        
                @include respond-to-min($md) {
                }
            }
            .image-text__container__img2 {
                position: relative;
                width: 35%;
                height: 60%;
                padding-right: 20px;
        
                @include respond-to-min($md) {
                }
            }
        }
    

    .image-text__container__right {

    }
}